In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [50]:
series_obj = Series(np.arange(8), index=['row 1' ,'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
print(series_obj)

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [5]:
x = [1, 2, 3, 4, 5]
y =x
x = [1, 4]
print(x)
print(y)

[1, 4]
[1, 2, 3, 4, 5]

In [23]:
series_obj['row7']

6

In [31]:
series_obj[[0, 7]]

row1    0
row8    7
dtype: int32

In [41]:
np.random.seed(1)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index= ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns= ['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
print(DF_obj)

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.417022  0.720324  0.000114  0.302333  0.146756  0.092339
row 2  0.186260  0.345561  0.396767  0.538817  0.419195  0.685220
row 3  0.204452  0.878117  0.027388  0.670468  0.417305  0.558690
row 4  0.140387  0.198101  0.800745  0.968262  0.313424  0.692323
row 5  0.876389  0.894607  0.085044  0.039055  0.169830  0.878143
row 6  0.098347  0.421108  0.957890  0.533165  0.691877  0.315516

In [46]:
DF_obj.loc[['row 2', 'row 5'], ['column 3', 'column 6']]

       column 3  column 6
row 2  0.396767  0.685220
row 5  0.085044  0.878143

In [48]:
DF_obj['row 2' : 'row 4']

       column 1  column 2  column 3  column 4  column 5  column 6
row 2  0.186260  0.345561  0.396767  0.538817  0.419195  0.685220
row 3  0.204452  0.878117  0.027388  0.670468  0.417305  0.558690
row 4  0.140387  0.198101  0.800745  0.968262  0.313424  0.692323

In [51]:
series_obj['row 2' : 'row 5']

row 2    1
row 3    2
row 4    3
row 5    4
dtype: int32

In [60]:
DF_obj < 0.5

       column 1  column 2  column 3  column 4  column 5  column 6
row 1      True     False      True      True      True      True
row 2      True      True      True     False      True     False
row 3      True     False      True     False      True     False
row 4      True      True     False     False      True     False
row 5     False     False      True      True      True     False
row 6      True      True     False     False     False      True

FIltering with Scalars

In [64]:
DF_obj[DF_obj < 0.5]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.417022       NaN  0.000114  0.302333  0.146756  0.092339
row 2  0.186260  0.345561  0.396767       NaN  0.419195       NaN
row 3  0.204452       NaN  0.027388       NaN  0.417305       NaN
row 4  0.140387  0.198101       NaN       NaN  0.313424       NaN
row 5       NaN       NaN  0.085044  0.039055  0.169830       NaN
row 6  0.098347  0.421108       NaN       NaN       NaN  0.315516

In [65]:
series_obj[series_obj > 6]

row 8    7
dtype: int32

In [70]:
series_obj['row 1', 'row 4', 'row 6'] = 3
series_obj

row 1    3
row 2    1
row 3    2
row 4    3
row 5    4
row 6    3
row 7    6
row 8    7
dtype: int32